@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular.ttf"); }

@font-face {
  font-family: "Golos";
  src: url("../fonts/golos.ttf"); }

.wrapper {
  margin: 0 20px;
  font-family: "Golos", serif;
  color: #333; }

ul, li {
  margin: 0;
  padding: 0; }

#showNav {
  display: none; }

.section-h2 {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0; }

.formButton {
  background-color: #009ac0;
  color: #fff;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 50px auto 50px auto; }

.formButton-white {
  background-color: #fff;
  color: #009ac0; }

header.header .logo {
  display: inline-block;
  font-size: 30px;
  position: relative;
  padding: 10px;
  margin: 0; }
  header.header .logo img {
    width: 35px;
    height: 35px;
    position: absolute;
    right: -30px;
    top: 10px; }
  header.header .logo span {
    background-color: #009ac0;
    border-radius: 3px;
    padding-right: 3px;
    color: #fff; }

header.header .nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  float: right; }
  header.header .nav a {
    color: #333; }
    header.header .nav a li {
      display: inline-block;
      list-style-type: none;
      padding: 20px 15px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      header.header .nav a li:hover {
        background-color: #009ac0;
        color: #fff; }

section.section-about-us {
  background-color: #009ac0;
  width: 100%;
  height: 750px;
  background-image: url("../img/man-phone.jpg");
  background-size: cover;
  padding: 10px 40px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  section.section-about-us .about-us {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    float: left;
    margin-top: 300px;
    width: 500px; }
    section.section-about-us .about-us h2 {
      margin: 5px 5px 5px 0;
      font-size: 30px;
      color: #fff;
      display: inline-block;
      background-color: #009ac0;
      padding: 2px 10px; }
    section.section-about-us .about-us p {
      display: inline-block;
      padding: 5px 10px;
      margin: 0 0 5px 0;
      background-color: rgba(0, 154, 192, 0.9);
      color: #fff;
      font-family: Arial; }
  section.section-about-us .mission {
    display: inline-block;
    float: right;
    text-align: center; }
    section.section-about-us .mission h2 {
      margin: 5px auto;
      display: inline-block;
      font-size: 30px;
      color: #009ac0;
      background-color: #fff;
      padding: 2px 10px; }
    section.section-about-us .mission ul {
      width: 600px;
      margin: 0;
      padding: 0;
      vertical-align: top;
      font-family: Arial; }
      section.section-about-us .mission ul .column {
        width: 48%;
        display: inline-block;
        vertical-align: top; }
        section.section-about-us .mission ul .column li {
          list-style-type: none;
          background-color: #fff;
          margin: 5px;
          padding: 0;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: 4px solid rgba(0, 154, 192, 0.6);
          font-size: 15px;
          -webkit-transition: 2s;
          -o-transition: 2s;
          transition: 2s;
          opacity: 0; }
          section.section-about-us .mission ul .column li .mission-text {
            padding: 0 5px; }
          section.section-about-us .mission ul .column li img {
            width: 100%; }

.find-an-Apprenticeship {
  text-align: center; }
  .find-an-Apprenticeship h3 {
    font-size: 25px;
    text-align: center;
    margin: 8px; }
  .find-an-Apprenticeship-left {
    width: 49%;
    display: inline-block;
    vertical-align: top; }
    .find-an-Apprenticeship-left ul {
      color: #333; }
      .find-an-Apprenticeship-left ul li {
        border: 8px solid #009ac0;
        border-radius: 4px;
        margin: 10px;
        display: inline-block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 46%;
        min-height: 170px;
        padding: 10px;
        vertical-align: top; }
  .find-an-Apprenticeship-right {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 49%; }
    .find-an-Apprenticeship-right ul {
      margin: 20px 0 20px 30px; }
      .find-an-Apprenticeship-right ul > li {
        list-style-type: square;
        font-size: 20px;
        margin: 25px; }
        .find-an-Apprenticeship-right ul > li ol {
          font-size: 15px; }
          .find-an-Apprenticeship-right ul > li ol li {
            margin: 5px; }

.testimonials {
  background-color: #009ac0;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  background-size: contain;
  padding: 10px 0 30px 0;
  text-align: center; }
  .testimonials h2 {
    color: #fff; }
  .testimonials ul {
    width: 600px;
    margin: 0 auto;
    padding: 0; }
    .testimonials ul .testimonial-img {
      width: 80px;
      display: inline-block;
      padding: 10px;
      margin: 10px;
      background-color: #fff;
      border-radius: 5px; }
      .testimonials ul .testimonial-img img {
        width: 80px; }
    .testimonials ul li {
      list-style-type: none;
      width: 400px;
      min-height: 80px;
      display: inline-block;
      padding: 10px 15px;
      margin: 10px;
      border-radius: 5px;
      background-color: #fff; }

.find-talent {
  width: 100%;
  height: 700px;
  text-align: center;
  vertical-align: top; }
  .find-talent h2.section-h2 {
    padding-bottom: 0; }
  .find-talent h3 {
    font-size: 20px; }
  .find-talent-img-block {
    width: 50%;
    height: 440px;
    display: inline-block;
    vertical-align: bottom;
    background-image: url("../img/find-talent.jpg");
    background-size: cover;
    position: relative;
    vertical-align: top;
    z-index: 1; }
  .find-talent-list {
    list-style-type: none;
    text-align: left;
    display: inline-block;
    width: 45%;
    margin-top: 100px;
    margin-left: -50px;
    position: relative;
    z-index: 2; }
    .find-talent-list li {
      padding: 20px 10px;
      border-radius: 5px;
      background-color: #fff;
      border: 8px solid #009ac0;
      margin-bottom: 20px; }
      .find-talent-list li span {
        display: block;
        font-size: 14px;
        color: gray;
        text-align: right; }

.with-ApprentList {
  width: 100%;
  background-image: url("../img/woman-phone.jpg");
  background-size: cover;
  padding-bottom: 50px; }
  .with-ApprentList h3 {
    font-size: 30px;
    padding: 30px;
    color: #fff; }
    .with-ApprentList h3 span {
      border: 2px solid #fff;
      padding: 4px;
      border-radius: 3px;
      background-color: #009ac0; }
  .with-ApprentList ol {
    display: inline-block;
    width: 55%;
    margin-left: 40px; }
    .with-ApprentList ol > li {
      padding: 10px 30px;
      font-size: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
      background-color: #fff;
      list-style-type: none; }
      .with-ApprentList ol > li p {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 10px;
        margin-top: 0; }
      .with-ApprentList ol > li ul li {
        font-size: 15px;
        margin-top: 5px; }
  .with-ApprentList .formButton {
    display: block;
    width: 300px; }
